Django>=4.2.30
djangorestframework
django-extensions
ruff>=0.1.0
pytest>=7.0.0
pytest-django>=4.0.0
djangorestframework-simplejwt
drf-spectacular
django-filter
python-dotenv
python-decouple==3.8
Pillow==12.0.0
pymysql==1.1.0
